NEXT_PUBLIC_SUPABASE_URL=https://xfcvliyxxguhihehqwkg.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_tJDrdH6t-CWBXgdv7bhvHQ_3bDFGdel
SUPABASE_DB_URL=postgresql://postgres:[YOUR-PASSWORD]@db.xfcvliyxxguhihehqwkg.supabase.co:5432/postgres
NEXT_PUBLIC_TASTE_PROFILE_ENABLED=false
